<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>New Budget Item</title>
</head>
<body>
    <div class="container">
        <h1>Add a new Budget Item</h1>
        <form action="/budgets" method="post">
            <input type="text" name="date" placeholder="Enter date">
            <input type="text" name="amount" placeholder="Enter amount"><br>
            <input type="text" name="from" placeholder="Enter budget item name">
            <input type="text" name="name" placeholder="Enter category name"><br>
            Tags: <br>
            <textarea name="tags" cols="30" rows="10" 
            placeholder="Seperate each tag by commas! e.g. 'income, savings, cha-ching'"></textarea><br>
            <input type="submit" value="Add Item"><br>
        </form>
    </div>
</body>
</html>